<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Blog - New post</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/bloggy.css" />
  </head>
  <body>
    <h1>New Post</h1>
    {% if link_to_posts %}
      <div class="nav"><a href="{{link_to_posts}}">All Posts</a></div>
    {% endif %}
    <form class="new-post" method="post">
      <label>
        <div>subject</div>
        <input  type="text" name="subject" value={{subject}}>
      </label>
      
      <label>
        <div>content</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  </body>


</html>